DJANGO_SECRET_KEY=dev-insecure-key-change-me
DJANGO_DEBUG=1
POSTGRES_DB=linkforge
POSTGRES_USER=linkforge
POSTGRES_PASSWORD=linkforge
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
CREATE_RATE_LIMIT=60
